<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h3><%= @annonce.title %></h3>
      <h2><%= @annonce.turnover %>€</h2>
      <p><%= cl_image_tag @annonce.picture, :width => 300, :height => 200, :crop => :fill %></p>
      <p><%= @annonce.city %></p>
    </div>

    <div class="col-xs-12 col-sm-6">
      <%= render 'messages/new_message_form' %>
      <% @annonce.messages.each do |message| %>
      <% if message.user == current_user %>
      <div class="media">
        <div class="media-left">
          <%= image_tag message.user.picture, class: "avatar" %>
          <%= link_to message_path(message),
          method: :delete,
          data: { confirm: "Are you sure?" } do %>
          <i class="text-right glyphicon glyphicon-trash"></i>
          <% end %>
        </div>
        <div class="media-body">
          <p><%= message.content %></p>
        </div>
      </div>
      <% else %>
      <div class="media">
        <div class="media-body">
          <p><%= message.content %></p>
        </div>
        <div class="media-right">
          <%= image_tag message.user.picture, class: "avatar" %>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>


