<div class="jumbo text-center">
  <div class="jumbo-filter">
    <div class="accroche">
      <h1>Cherchez et trouvez votre officine parmi nos annonces</h1>
    </div>
    <div class="searchbar">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3">
            <div class="searchbar-content">
              <%= simple_form_for :search, :html => { :class => 'form-inline' }, url: annonces_path, method: :get do |f| %>
              <%= f.input :city, placeholder: 'Entrez une ville', class: 'placeholder-font', label: false, :input_html => { :size => 45} %>
              <%= f.submit "Rechercher", class: 'btn btn-primary' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="search">
  <div class="container">
    <div class="catchphrase text-center">
      <h3>Consultez nos annonces de pharmacies à vendre</h3>
    </div>



      <div class="row">
        <% @featured_announces.each do |announce| %>
        <div class="col-md-4">
          <h3>
            <%= link_to(announce) do %>
            <%= announce.title%>
            <% end %>
          </h3>
          <%= cl_image_tag announce.picture, :width => 350, :height => 200, :crop => :fill%>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



